<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Dev.aspx.cs" Inherits="Ordertaker.Dev" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="Label1" runat="server" Style="z-index: 100; left: 19px; position: absolute;
            top: 29px" Text="Label" Width="562px"></asp:Label>
        <br />
        <br />
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Style="z-index: 101; left: 21px; position: absolute;
            top: 81px" Text="Label" Width="557px"></asp:Label>
        <br />
        <br />
        <asp:Label ID="Label5" runat="server" Style="z-index: 102; left: 25px; position: absolute;
            top: 130px" Text="Label" Width="548px"></asp:Label>
        <br />
        <br />
        <br />
        <br />
        Sorry for inconvenience...
        <asp:Label ID="Label4" runat="server" Style="z-index: 104; left: 22px; position: absolute;
            top: 106px" Text="Label" Width="546px"></asp:Label>
        <br />
        <br />
        &nbsp;
        <asp:Label ID="Label2" runat="server" Style="z-index: 106; left: 22px; position: absolute;
            top: 54px" Text="Label" Width="556px"></asp:Label>
    
    </div>
    </form>
</body>
</html>
